<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductDataServiceBinding_ProductDataService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://psproductdata200.pcna.online/psProductData.svc"
                binding="basicHttpBinding" bindingConfiguration="ProductDataServiceBinding_ProductDataService"
                contract="ProductDataService" name="ProductDataServiceBinding_ProductDataService" />
        </client>
    </system.serviceModel>
</configuration>